<%= @list.name %> 
<% if @list.private? %>
(Private)
<% end %>

 <a href="/lists/<%=@list.slug%>/edit">Edit</a>
<form method="POST" action='/lists/<%= @list.slug %>'>

<h3>Create New Idea</h3>
<label>Idea Name:</label>
<input type="text" name="idea[name]"><br><br>
<input type="hidden" name="idea[list_id]" value="<%= @list.id %>">

<label>Idea Content:</label>
<input type="text" name="idea[content]"><br><br>
<input type="submit" value="Save Idea" class="btn btn-default">
</form>



<% @list.ideas.each do |idea| %>
  Idea Name: <%= idea.name %><br>
  Idea Content:<%= idea.content %><br>
  <%= idea.created_at %>
  <%= idea.updated_at %>
  <a href="/ideas/<%=idea.id%>/edit">Edit Idea</a>
<% end %>

